<app-navbar></app-navbar>
<div class="container  animated fadeIn">
	<div class="row ntop">
		<div class="col-md-3">
			<div class="md-form">
				<input mdbActive type="text" (keyup)="getSug($event)" [(ngModel)]="search" [value]="search" id="form1" class="form-control">
				<label for="form1" class="">Enter Word</label>
			</div>
			<div class="suggest" *ngIf="showSug">
				<ul class="mainmenu" *ngFor="let item of result">
					<li><a (click)="srch(item);showSug=!showSug;search=item" href="javascript:void(0)">{{item}}</a></li>
				</ul>
			</div>
			<br>
			<h4><p>Hourly Trendings</p></h4>
			<div class="tags">
				<button *ngFor="let tags of hourTrends;let i=index" type="button" class="btn btn-sm" [ngClass]="{'btn-success':i%2==0,'btn-primary':i%3==0,'btn-danger':i%5==0,'btn-info':i%4==0}" ripple-radius  (click)="srchHourTrends(tags);">{{tags}}</button>
			</div>
		</div>
		<div class="col-md-9">
			<app-home [mydata]="searchVal"></app-home>
		</div>
	</div>
</div>